.docs-head img {
  width: 12.5rem;
  justify-self: flex-end;
}

.docs-main h3 {
  margin: 1.1em 0;
}

.docs-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.docs-main nav li {
  padding-bottom: 0.4em;
  margin-bottom: 0.4em;
  font-size: 1rem;
  border-bottom: 1px solid #ccc;
}

.docs-main a:hover {
  font-weight: bold;
}
